<div class="flex justify-content-center align-items-center h-screen">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
    <div class="text-center mb-5">
      <img src="assets/images/logo.png" alt="Image" height="50" class="mb-3" />
      <div class="text-900 text-3xl font-medium mb-3">Welcome!</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="logIn()">
      <div class="grid formgrid p-fluid">
        <div class="field col-12">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input
              pInputText
              placeholder="Username"
              formControlName="email"
              [ngClass]="
            form.controls['email'].errors && form.controls['email'].touched
              ? 'p-inputtext p-component p-element border-red-500'
              : 'p-inputtext p-component p-element'
          "
            />
          </p-inputGroup>
          <div
            *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
            class="text-right"
          >
            <small class="text-red-500">Username is required</small>
          </div>
          <div
            *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched"
            class="text-right"
          >
            <small class="text-red-500"
              >Username must be a valid email address</small
            >
          </div>
        </div>

        <div class="field col-12">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <input
              type="password"
              pInputText
              placeholder="Password"
              formControlName="password"
              [ngClass]="
              form.controls['password'].errors && form.controls['password'].touched
                ? 'p-inputtext p-component p-element border-red-500'
                : 'p-inputtext p-component p-element'
            "
            />
          </p-inputGroup>
          <div
            *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
            class="text-right"
          >
            <small class="text-red-500">Password is required</small>
          </div>
        </div>
        <div class="col-12">
          <p-button
            type="submit"
            [label]="loading? 'Logging In..':'Log In'"
            [disabled]="form.invalid"
            [loading]="loading"
            [raised]="true"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
  <p-toast position="bottom-right" [life]="3000"></p-toast>
</div>
